1) Install Jupyter notebook and run the first program and share the screenshot of the output.

In [1]:
range(10)

range(0, 10)

In [2]:
kavin =[2,5,4,9,7,8,6,4,2,3,45]
for kumar in kavin:
    print(kumar)

2
5
4
9
7
8
6
4
2
3
45

2) Write a program which will find all such numbers which are divisible by 7 but are not a multiple
   of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
   comma-separated sequence on a single line.

In [37]:
a=range(2000,3201)
b=[]
for i in a:
    if (i%5 != 0):
        if (i%7 == 0):
            b.append(i)
print (b)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

3) Write a Python program to accept the user's first and last name and then getting them printed in
   the the reverse order with a space between first name and last name.

In [55]:
f=input('Enter your First Name:\t ')
l=input('Enter your Last Name:\t ')
print('Hai', f +' '+l )
print('Reverse Order of your name is: ',f[::-1]+ ' '+ l[::-1])

Enter your First Name:	 Kavin
Enter your Last Name:	 kumar
Hai Kavin kumar
Reverse Order of your name is:  nivaK ramuk

4) Write a Python program to find the volume of a sphere with diameter 12 cm.
   Formula: V=4/3 * π * r^3

In [122]:
Diameter = 12 
r = Diameter/2 
Volume = 4/3*22/7*(r*r*r)
print('Vloume of a sphere is: ',Volume, 'cm^3')

Vloume of a sphere is:  905.1428571428572 cm^3

5) Write a program which accepts a sequence of comma-separated numbers from console and
   generate a list.

In [170]:
n = range(int(input('Total number of elements you want to enter:\t')))
b=[]
for i in n :
    q=int(input('Enter Number: \t'))
    b.append(q)
print('List of the given inputs: ',b)

Total number of elements you want to enter:	5
Enter Number: 	10
Enter Number: 	20
Enter Number: 	30
Enter Number: 	40
Enter Number: 	50
List of the given inputs:  [10, 20, 30, 40, 50]

6) Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [164]:
k=0,1,2,3,4
for i in k:
    print('*')
    break;
for j in k:
    print('**')
    break;
for h in k:
    print('***')
    break;
for w in k:
    print('****')
    break;
for r in k:
    print('*****')
    break;
for g in k:
    print('****')
    break;
for h in k:
    print('***')
    break;
for s in k:
    print('**')
    break;
for a in k:
    print('*')
    break;

*
**
***
****
*****
****
***
**
*

7) Write a Python program to reverse a word after accepting the input from the user

In [166]:
inp= input("Write a word to make it reverse:\t")
op= inp[::-1]
print('Your output is here:\t',op)

Write a word to make it reverse:	AcadGlid
Your output is here:	 dilGdacA

8) Write a Python Program to print the given string in the format specified in the ​ sample output.
   WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
   SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
   its citizens

In [169]:
print('WE, THE PEOPLE OF INDIA,')
print('\t having solemnly resolved to constitute India into a SOVEREIGN, !')
print('\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC')
print('\t\t  and to secure to all its citizens')

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN, !
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		  and to secure to all its citizens